 body {
     
 }

 .landingHeader {
    color: #fff !important;
    padding: 12% 0 15% 7%;
    background-color: #5680E9;
    /* background-image: linear-gradient(to bottom, rgba(), rgba(), url(public/images/openaihackathon-1.jpg)); */
    max-height: 100%;
    background-size: cover;
}

.title {
    color: #fff;
    margin-bottom: 1%;
}

.subTitle {
    color: #fff;
    font-size: 18px;
    width: inherit;
    margin: 0;
    float: left;
}

.landingButton {
    margin-left: 1%;
}

.belowTitle {
    margin-top: 2%;
}


/* PRODUCT FEATURES PAGE */
.featurehead{
    width: 50%;
    padding-left: 43%;
}
#extrafeatures{
    background-color: #80dbff;
}
#faqheading{
    text-align: center;
}
#producttitle{
    text-align: center;
    padding-top: 10%;
    color: darkblue;
}
#features{
    padding-top: 1%;
}
.featurehead{
    color: black;
    padding-top:10%;
    padding-right:10%;
    padding-bottom:20%;
    text-align: center;
}
.featureinfo{
    padding-left:10%;
    margin-bottom:10%;
}
