@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #F4F5FF;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #5680E9;
    top: 0;
}

#logo {
    float: left;
    line-height: 80px;
    padding-left: 20px;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.8rem;
    color: #F4F5FF;
}

#nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    line-height: 80px;
    padding-right: 20px;
}

#nav-links li {
    display: inline-block;
    
}

#user {
    font-size: 1.5rem;
}

#nav-links li a:hover {
    opacity: 0.8;
    color: #F4F5FF;
}

#nav-links li a{
    text-decoration: none;
    color: #F4F5FF;
    padding: 15px;
    transition: all .25s ease;
}

.home {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    padding-top: 120px;
}

.buttons {
    background-color: #8860D0;
    padding: 15px 20px 15px 20px;
    color: #F4F5FF;
    text-decoration: none;
    transition: all .25s ease;
}

.buttons:hover {
    opacity: 0.8;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    color: #5680E9;
}

p {
    color: #5680E9;

}

.link {
    text-decoration: none;
    color: #5680E9;
    font-weight: 600;
}

.link:hover {   
    text-decoration: underline;
}

/* LANDING PAGE */

.landingHeader {
    color: #fff !important;
    padding: 12% 0 15% 7%;
    background-color: #5680E9;
    /* background-image: linear-gradient(to bottom, rgba(), rgba(), url(public/images/openaihackathon-1.jpg)); */
    max-height: 100%;
    background-size: cover;
}

.title {
    color: #fff;
    margin-bottom: 1%;
}

.subTitle {
    color: #fff;
    font-size: 18px;
    width: inherit;
    margin: 0;
    float: left;
}

.landingButton {
    margin-left: 1%;
}

.belowTitle {
    margin-top: 2%;
}