@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #edeefa;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --height: 0px;
    --blue: #5680e9;
    --white: #f4f5ff;
    --off-white: #edeefa;
    --purple: #8860D0;
    --mid_blue: #5ab9ea;
    --light_blue: #84ceeb;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color:#F4F5FF;
    top: 0;
    border-top: 2.5px solid var(--mid_blue);
    display: flex;
    justify-content: space-between;
}

#logo {
    float: left;
    line-height: 80px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    line-height: 80px;
    padding-right: 20px;
}

#nav-links li {
    display: inline-block;
}

#user {
    font-size: 1.5rem;
}

#nav-links li a:hover {
    color: var(--mid_blue);
}

#nav-links li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(43, 43, 43);
    padding: 10px;
    transition: all .25s ease-in-out;
}

.plans {
    margin: 125px 200px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F5FF;
    border-radius: 7px;
    height: min-content;
}

#premium-header {
    font-weight: 600;
    margin: 0;
    color: var(--mid_blue);
}

#premium-features {
    list-style-type: none;
    margin: 0;
    padding: 0 15px 15px 25px;
}

.fa-check {
    color: var(--mid_blue);
    font-size: 1.15rem;
    padding-right: 20px;
}

#premium-features li {
    padding: 10px 10px 10px 0;
}

#why-premium {
    padding: 15px 15px 15px 0;
    margin: 0 100px 0 0;
}

#why-demo {
    color: #F4F5FF;
    text-align: left;
    padding: 15px 35px 15px 35px;
    margin: 0;
}

.button {
    padding: 15px;
    background-color: var(--mid_blue);
    text-decoration: none;
    color: #F4F5FF;
    transition: all 0.25s ease-in-out;
    display: inline-block;
    width: max-content;
}

.button:hover {
    opacity: 0.8;
}

.plans-trial {
    height: var(--height);
    flex-grow: 2;
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mid_blue);
    border-radius: 0 7px 7px 0;
    text-align: center;
}

.codevert-premium {
    padding: 35px;
    flex-grow: 5;
    width: min-content;
}

#demo-btn {
    margin-bottom: 35px;
    background-color: #F4F5FF;
    color: var(--mid_blue);
}

#demo-header {
    margin: 35px 0 0 0;
    font-weight: 600;
    color: #F4F5FF;
    padding: 0 35px 0 35px;
}

#premium-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: min-content;
    width: max-content;
}

#premium-cost {
    margin: 0;
    color: var(--mid_blue);
    font-weight: 500;
    padding: 0 25px 0 25px;
    font-size: 1.25rem;
}